.sidebar-container {
  background-color: #f0f4f9;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 15px;
}

.sidebar-container img {
  width: 20px;
}

.menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

.recent {
  display: flex;
  flex-direction: column;
}

.recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}

.recent-entry:hover {
  background-color: #e2e6eb;
}

.bottom-item {
  padding: 10px;
  cursor: pointer;
}

/* For tablets and small laptops */
@media (max-width: 1024px) {
  .sidebar-container {
    padding: 20px 10px;
  }
  .new-chat {
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 12px;
  }
  .recent-entry {
    padding: 10px;
    padding-right: 30px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .sidebar-container {
    padding: 15px 5px;
  }
  .new-chat {
    margin-top: 20px;
    padding: 10px 5px;
    font-size: 10px;
  }
  .recent-entry {
    padding: 10px;
    padding-right: 20px;
    font-size: 12px;
  }
  .recent-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
